//Text/Line Color
$black-000: #000000;
$black-1616: #161616;
$black-222: #222222;
$black-333: #333333;
$gray-444: #444444;
$gray-5858: #585858;
$gray-666: #666666;
$gray-7070: #707070;
$gray-8686: #868686;
$gray-999: #999999;
$gray-AAA: #aaaaaa;
$gray-D2D2: #d2d2d2;
$gray-DCDC: #dcdcdc;
$gray-EEE: #eeeeee;
$gray-F5F5: #f5f5f5;
$gray-F7F7: #f7f7f7;
$gray-F9F9: #f9f9f9;
$white-FFF: #ffffff;
$red-E71F2A: #e71f2a;
$dimBlack-222: rgba(34, 34, 34, 0.6);

//primary
$primaryBlue: #0b68ee;

//secondary
$blue-01ACFE: #01acfe;
$purple-603EE3: #603ee3;
$red-FF404E: #ff404e;

//Bg
$blue-2556DF: #2556df;
$blue-0F5BC9: #0f5bc9;
$blue-0068FF: #0068ff;
$blue-2090FF: #2090ff;
$blue-419AFF: #419aff;
$yellow-D4C00F: #d4c00f;
$yellow-FFD434: #ffd434;
$white-EDF4FF: #edf4ff;
$white-F7F8F9: #f7f8f9;
$white-F7F8FC: #f7f8fc;
$white-F6F9FF: #f6f9ff;
$white-F7F7: #f7f7f7;
$white-F9F9F9: #f9f9f9;
$white-FAFAFA: #fafafa;
$white-FFF9F9: #fff9f9;

//Text Size
$h1_size: 48px;
$h2_size: 34px;
$h3_size: 28px;
$h4_size: 24px;
$h5_size: 20px;
$h6_size: 18px;

$text0_size: 20px;
$text1_size: 18px;
$text2_size: 16px;
$text3_size: 14px;
$text4_size: 12px;

$height_1: 140%;
$height_2: 120%;

$regular: 400;
$medium: 500;
$semi_bold: 600;
$bold: 700;
