// 폰트 적용
//@font-face {
//  font-family: 'Montserrat';
//  src: url("https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/demo/css/montserrat-regular.woff") format('woff');
//  font-weight: 400;
//  font-style: normal;
//  //unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
//}

//@font-face {
//  font-family: 'Pretendard';
//  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
//  font-weight: 400;
//  font-style: normal;
//  //unicode-range: U+AC00-D7A3;
//}

@font-face {
  font-family: 'Radio Canada';
  src: url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@700&display=swap');
  font-weight: 700;
}

@font-face {
  font-family: 'SBAggroL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SBAggroM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SB Aggro';
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff')
    format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquare Neo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2')
    format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'NanumMyeongjo';
  src: url('https://cdn.jsdelivr.net/gh/wizfile/font/NanumMyeongjo.woff')
    format('woff');
  font-style: normal;
}

* {
  font-family: 'NanumSquare Neo', 'Noto Sans KR', sans-serif;
  // letter-spacing: 0;
  box-sizing: border-box;
}

html {
  font-family: 'NanumSquare Neo', 'Noto Sans KR', sans-serif;

  // 1880px일 때의 스타일
  // Pc.js로 이동
  //@media (max-width: 1900px){
  //  overflow-x: visible;
  //  min-width: 1920px;
  //}
}

body {
  font-family: 'NanumSquare Neo', 'Noto Sans KR', sans-serif;
}

// input 태그 자동완성 파란 배경색 제거
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  -webkit-text-fill-color: #000;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
//* {
//  box-sizing: border-box;
//  &::-webkit-scrollbar {
//    width: 6px; /* 스크롤바의 너비 */
//
//    //margin-right: 30px;
//    //padding-right: 30px;
//  }
//  &::-webkit-scrollbar-thumb {
//    background: $gray-D2D2; /* 스크롤바의 색상 */
//    border-radius: 10px;
//    height: 100px; /* 스크롤바의 길이 */
//  }
//  &::-webkit-scrollbar-track {
//    background: transparent; /*스크롤바 뒷 배경 색상*/
//  }
//}
